.footer {
  background-color: #4b4b4b;
  color: #f29f44;
  padding: 20px 0;
  p{
    margin: 0;
  }
  a{
    color: #d1d1d1;
  }
}

.footer-img {
  img{
    transition: transform .2s;
  }
  img:hover{
    transform: scale(1.2);
  }
}

.copyright {
  text-align: center;
  padding-top: 50px;
}