.flex {
  display: flex;
}

.top {
  padding-top: 50px;
}

.m-r {
  margin-right: 20px;
}

.section1 {
  padding-top: 100px;
  padding-bottom: 50px;
}

.home-center {
  margin: auto;
  text-align: center;
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: #4b4b4b;
  }
  h2 {
    font-size: 24px;
    color: #4b4b4b;
  }
  img{
    transition: transform .2s;
  }
  img:hover{
    transform: scale(1.2);
  }
}

#messenger {
  position: absolute;
  padding-top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  white-space: nowrap;
  color: #4b4b4b;
}

.cv {
  margin: 30px 0;
  padding-top: 50px;
  a {
    color: #4b4b4b;
  }
  a:hover{
    text-decoration: none;
  }
  span {
    border: 1px solid #414141;
    border-radius: 50px;
    padding: 10px;
    font-size: 18px;
    transition-property: color, border-color, background;
    transition-duration: 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
  }
  span:hover {
    border: 1px solid #f29f44;
    color: #f29f44;
    background-color: #4b4b4b;
  }
}

.section2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.back {
  img {
    position: absolute;
    opacity: 0.1;
    width: 100%;
    height: 940px;
  }
}

@media screen and (max-width: 1200px) {
  .back {
    img{
      height: 1015px;
    }
  }
}

@media screen and (max-width: 992px) {
  .back {
    img{
      height: 1060px;
    }
  }
}

@media screen and (max-width: 768px) {
  .back {
    img{
      display: none;
    }
  }
}

.social {
  padding: 10px;
}

.home-left {
  padding-top: 20px;
  img {
    width: 24px;
    height: 24px;
    margin: auto 0;
  }
  h2 {
    text-align: center;
    margin: 0;
    color: #4b4b4b;
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .home-left {
    padding-bottom: 50px;
  }
}

.home-right {
  padding-top: 20px;
  img {
    width: 24px;
    height: 24px;
    margin: auto 0;
  }
  h2 {
    text-align: center;
    padding-left: 10px;
    margin: 0;
    color: #4b4b4b;
  }
}

.apropos {
  padding-top: 20px;
  p {
    font-size: 14px;
    margin: 0;
  }
}

.skills {
  padding-top: 20px;
  text-align: center;
  img {
    width: 64px;
    height: 64px;
    margin-right: 25px;
    margin-top: 5px;
  }
  a span{
    position:absolute;
    margin-top: -50px;
    margin-left: -110px;
    color: #f29f44;
    background-color: #4b4b4b;
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
  }
  a:hover span, a:focus span{
    transform:scale(1) rotate(0);
    opacity:1;
  }
}

.school {
  padding-top: 50px;
}

.s-date {
  width: 30%;
  text-align: center;
  border-right: 1px solid #b4b4b4;
  p {
    margin: 0;
  }
  img {
    margin-right: 20px;
  }
}

.s-name {
  width: 70%;
  margin-left: 10px;
  h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 5px;
  }
  p {
    margin: 0;
  }
  a {
    color: #b77633;
  }
}

.section3 {
  padding-top: 50px;
  padding-bottom: 80px;
}

.hobby {
  text-align: center;
  padding-bottom: 30px;
}

.hobby-title {
  h2 {
    font-size: 22px;
    padding-bottom: 20px;
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .hobby-title {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .hobby-title {
    padding-bottom: 50px;
  }
}

.hobby-text {
  img {
    width: 64px;
    height: 64px;
  }
  p {
    padding-left: 20px;
  }
}