html
    head
        title Dylan CLAUSS
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans" rel="stylesheet")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/navbar.css")
        link(rel="stylesheet", href="css/home.css")
        link(rel="stylesheet", href="css/footer.css")
    body
        nav.navbar.header.navbar-default
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') DC
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Blog
                        li
                            a.glyphicon-envelope(href='contact')  Contact
        div.section1
            div.container
                div.home-center
                    h1 Dylan CLAUSS
                    div(id="messenger")
                    div.cv
                        a(href="/media/CV_CLAUSS_Dylan.pdf" target="_blank")
                            span Télécharger mon CV
                    div.social
                        a(href="https://www.linkedin.com/in/dylanclauss/" target="_blank")
                            img.m-r(src="/icon/linkedin.png")
                        a(href="mailto:clauss.dylan@gmail.com")
                            img(src="/icon/gmail.png")
        div.section2
            div.back
                img(src="img/background.jpg")
            div.container
                div.row
                    div.home-left.col-xs-12.col-sm-6.col-md-6.col-lg-6
                        div.flex
                            img(src="/icon/curriculum-vitae.png")
                            h2 A propos
                        div.apropos
                            p Farceur, bosseur, inovateur, ordinateur, trop de rimes, j'en peux plus.
                            p Etudiant autonome et sympathique qui a trouvé sa voie dans l'informatique.
                    div.home-right.col-xs-12.col-sm-6.col-md-6.col-lg-6
                        div.flex
                            img(src="/icon/body-building.png")
                            h2(id="#skills") Compétences
                        div.skills
                            a(href="#skills")
                                img(src="/icon/windows.png")
                                span Windows Server
                            a(href="#skills")
                                img(src="/icon/linux.png")
                                span Linux
                            a(href="#skills")
                                img(src="/icon/cisco.png")
                                span Cisco
                            a(href="#skills")
                                img(src="/icon/vmware.png")
                                span VMWare
                            a(href="#skills")
                                img(src="/icon/html-5.png")
                                span HTML
                            a(href="#skills")
                                img(src="/icon/css-3.png")
                                span CSS
                div.row.top
                    div.home-left.col-xs-12.col-sm-6.col-md-6.col-lg-6
                        div.flex
                            img(src="/icon/graduate.png")
                            h2 Formation
                        div.school.flex
                            div.s-date
                                p 2016 - aujourd'hui
                            div.s-name
                                h3 YNOV informatique (Lyon)
                                p Bachelor architecture informatique et systèmes d'information
                                a(href="https://www.ynov.com/formation/ynov-informatique/" target="_blank")
                                    p ynov.com
                        div.school.flex
                            div.s-date
                                p 2009 - 2012
                            div.s-name
                                h3 Lycée Louis Lapicque (Epinal)
                                p Baccalauréat Sciences et Technologie de la Gestion
                                p Spécialisé Comptabilité Finance d'Entreprise


                    div.home-right.col-xs-12.col-sm-6.col-md-6.col-lg-6
                        div.flex
                            img(src="/icon/worker.png")
                            h2 Expérience
                        div.school.flex
                            div.s-date
                                p juin - juillet 2018
                                p 6 semaines
                            div.s-name
                                h3 Adapei 88
                                p Stagiaire administrateur système
                                p - RGPD participation à l'audit, élaboration de procédures, gestion des droits
                                p - Diagnostic SI, élaboration d'un plan d'actions
                        div.school.flex
                            div.s-date
                                p mai - juillet 2017
                                p 6 semaines
                            div.s-name
                                h3 POLYVER
                                p Stagiaire front-end
                                a(href="https://polyver.fr" target="_blank")
                                    p polyver.fr
                        div.school.flex
                            div.s-date
                                p 2012 - 2016
                                p 4 ans
                            div.s-name
                                h3 Carrefour
                                p Hôte de caisse
                div.row.top
                    div.home-left.col-xs-12.col-sm-6.col-md-6.col-lg-6
                        div.flex
                            img(src="/icon/world.png")
                            h2 Langues
                        div.school.flex
                            div.s-date
                                img(src="/icon/united-kingdom.png")
                                img(src="/icon/united-states.png")
                            div.s-name
                                h3 Anglais
                                p Technique
                        div.school.flex
                            div.s-date
                                img(src="/icon/germany.png")
                            div.s-name
                                h3 Allemand
                                p Notions
                    div.home-right.col-xs-12.col-sm-6.col-md-6.col-lg-6
                        div.flex
                            img(src="/icon/accident.png")
                            h2 Déplacement
                        div.school.flex
                            div.s-date
                                img(src="/icon/car.png")
                            div.s-name
                                h3 Permis B
                        div.school.flex
                            div.s-date
                                img(src="/icon/bike.png")
                            div.s-name
                                h3 Permis A
        div.section3
            div.container
                div.hobby
                    h1 Temps libre
                div.row
                    div.hobby-title.col-xs-12.col-sm-6.col-md-4.col-lg-4
                        h2 Réparation de PC
                        div.hobby-text.flex
                            img(src="/icon/gaming.png")
                            p C'est vrai, j'aime fabriquer et réparer les ordinateurs. Les composants et câbles ne me font pas peur.
                    div.hobby-title.col-xs-12.col-sm-6.col-md-4.col-lg-4
                        h2 Cuisine
                        div.hobby-text.flex
                            img(src="/icon/chef.png")
                            p Plus fort que les chefs de Top chef, j'adore cuisiner et faire goûter mes compositions.
                    div.hobby-title.col-xs-12.col-sm-6.col-md-4.col-lg-4
                        h2 Jeux vidéo
                        div.hobby-text.flex
                            img(src="/icon/ps4.png")
                            p Idôlatre de la Playstation, grand friand de jeux comme : Assassin's Creed, Grand Theft Auto, Fifa
        div.footer
            div.container
                div.row
                    div.col-xs-12.col-sm-6.col-md-6.col-lg-6
                        h3 Plan du site
                        a(href="")
                            p Blog
                        a(href="")
                            p Contact
                    div.col-xs-12.col-sm-6.col-md-6.col-lg-6
                    div.col-xs-12.col-sm-6.col-md-6.col-lg-6
                        h3 Réseaux Sociaux
                        div.flex.footer-img
                            a(href="https://www.linkedin.com/in/dylanclauss/" target="_blank")
                                img(src="/icon/linkedin.png")
                            a(href="https://github.com/StraussDy" target="_blank")
                                img(src="/icon/github.png")
                            a(href="https://twitter.com/StraussDy" target="_blank")
                                img(src="/icon/twitter.png")

                div.copyright
                    p © Dylan CLAUSS - Tous droits réservés

    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/script.js")
